*{
    font-family: 'Varela Round', sans-serif;
}

.mylogo{
    font-family: 'Monoton', sans-serif;
}

.nav_clckd ul li a:active, .nav_clckd ul li a:hover{
    font-weight: bold;
}


/* home-carousel-text */
@keyframes fadeIn {
  0%{
    transform: scale(.5);
    opacity: 0;
  }
}

.car_div{
    position: relative;
}
.car_div div{
    position: absolute;
    top: 40%;
}
.car_div div p{
    font-size: 3rem;
    filter: drop-shadow(1px 1px 3px rgba(255, 255, 255, 0.459));
    animation: fadeIn .2s linear backwards .6s;
}
.car_div div h5{
    animation: fadeIn .2s linear backwards .4s;
}

.img-slider div img{
    object-fit: cover;
    object-position: center;
    width: 100vw;
    height: 500px;
}

/* footer */

.contact_div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    line-height: 2;
}
.contact_div a{
    text-decoration: none;
    color: white;
}
.contact_div a i{
    padding-right: .5rem;
    transition: .2s linear;
}
.contact_div a:hover i{
    padding-right: 0.75rem;
}





/* about */

.about-img1{
    width: 450px;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

/* services */

.services_txt{
    display: none;
}
.services_btn:hover{
    cursor: pointer;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.services_div div div:hover svg{
    animation: bounce 0.5s ease;
}

/* about page */
swiper-container {
    width: 80%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:768px){
    swiper-container{
        width: 100%;
    }
}

/* package */
.package_col div{
    overflow: hidden;
}

.package_col div img{
    transition: .2s linear;
}
.package_col div:hover img{
    transform:scale(1.1);
    overflow: hidden;
}

.packages_row{
    display: none;
}

.success_modal{
    display: none;
}




@media (min-width:768px){
    .news-input{
        width: 50%;
    }
}

@media (max-width:768px){
    .car_div div{
        top: 30%;
    }
}

